<!-- <section class="announcement-bar">
  <span
    class="promo"
    >🌟 Get 5% Off your first order, <a href="#">Promo: ORDER5</a></span
  >
  <div class="location">
    <img src="/assets/Location.png" alt="location icon" /> Regent Street,
    A4, A4201, London <a href="#">Change Location</a>
  </div>

  <div class="cart">
    <div class="cart-item">
      <img src="/assets/Full Shopping Basket.png" alt="shopping basket">
    </div>
    <div class="cart-item">23 Items</div>
    <div class="cart-item">GBP 79.89</div>
    <div class="cart-item">
      <img src="/assets/Forward Button.png" alt="shopping basket">
    </div>
  </div>
</section> -->

<section
  class="bg-gray-100 border border-black/10 flex justify-between items-center text-sm font-semibold p-4"
>
  <!-- Promo Section -->
  <span class="px-6 py-4">
    🌟 Get 5% Off your first order,
    <a href="#" class="text-orange-500 font-bold">Promo: ORDER5</a>
  </span>

  <!-- Location Section -->
  <div class="flex items-center gap-2 px-6 py-4">
    <img src="/assets/Location.png" alt="location icon" class="w-4" />
    Regent Street, A4, A4201, London
    <a href="#" class="text-orange-500">Change Location</a>
  </div>

  <!-- Cart Section -->
  <div
    class="flex items-center bg-green-700 text-white rounded-lg px-4 py-2 gap-5"
  >
    <!-- Cart Icon -->
    <div>
      <img
        src="/assets/Full Shopping Basket.png"
        alt="shopping basket"
        class="w-6 h-6"
      />
    </div>
    <!-- Items Count -->
    <div>23 Items</div>
    <!-- Total Amount -->
    <div>GBP 79.89</div>
    <!-- Dropdown Icon -->
    <div>
      <img src="/assets/Forward Button.png" alt="dropdown" class="w-6 h-6" />
    </div>
  </div>
</section>
