<div class="text-center">
  <h1 class="text-4xl font-bold mt-8"><%= title %></h1>
  <p class="mt-4 text-lg"><%= data %></p>
</div>
<div class="text-center">
  <form class="mt-8 max-w-md mx-auto">
    <div class="mb-4">
      <label class="block text-left" for="name">Name</label>
      <input
        class="w-full px-4 py-2 border rounded"
        type="text"
        id="name"
        name="name"
        required
      />
    </div>
    <div class="mb-4">
      <label class="block text-left" for="email">Email</label>
      <input
        class="w-full px-4 py-2 border rounded"
        type="email"
        id="email"
        name="email"
        required
      />
    </div>
    <div class="mb-4">
      <label class="block text-left" for="message">Message</label>
      <textarea
        class="w-full px-4 py-2 border rounded"
        id="message"
        name="message"
        rows="4"
        required
      ></textarea>
    </div>
    <button
      class="px-4 py-2 bg-primary text-primary-content rounded"
      type="submit"
    >
      Send
    </button>
  </form>
</div>
