<!-- <footer class="bg-primary text-primary-content p-4 text-center mt-8">
  <p>&copy; 2025 My Express App. All rights reserved.</p>
  <p>Name: Sayrah Barugu</p>
  <p>Age: 200</p>
  <p>Place of Living: Lagos, Nigeria</p>
</footer> -->