<div
  class="relative flex flex-col items-center justify-center h-screen overflow-hidden"
>
  <div
    class="w-full p-6 bg-white border-t-4 border-gray-600 rounded-md shadow-md border-top lg:max-w-lg"
  >
    <div class="py-2 w-full">
      <img src="/assets/LOGO 1.png" alt="logo image" class="w-40 mx-auto" />
    </div>
    <form class="space-y-5">
      <div>
        <label class="label">
          <span class="text-base label-text">Email</span>
        </label>
        <input
          type="text"
          placeholder="Email Address"
          class="w-full input input-bordered border py-2 px-4"
        />
      </div>
      <div>
        <label class="label">
          <span class="text-base label-text">Password</span>
        </label>
        <input
          type="password"
          placeholder="Enter Password"
          class="w-full input input-bordered py-2 px-4 border"
        />
      </div>
      <a
        href="#"
        class="text-xs text-gray-600 hover:underline hover:text-blue-600"
        >Forget Password?</a
      >
      <div>
        <button
          class="btn btn-block btn-neutral w-full bg-zinc-700 rounded-md p-3 text-white"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
